# Overview
    This is an analysis of the Brazilian ecommerce public dataset of orders made at Olist Store. The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil.

# Make a Connection String

In [1]:
import sqlalchemy
sqlalchemy.create_engine('mssql+pyodbc://sa:sanjay@sql')

Engine(mssql+pyodbc://sa:***@sql)

In [2]:
%load_ext sql

In [3]:

%sql mssql+pyodbc://sa:sanjay@sql

In [4]:
%%sql
use olist_ecommerce

 * mssql+pyodbc://sa:***@sql
Done.

[]

# customer dataset
    This table contains the details of the customer

In [5]:
%%sql 
--preview 
select top 10 * from customers_dataset

 * mssql+pyodbc://sa:***@sql
Done.

[('"405901129a10fc58c472bf5555e20d48"', '"5957410ced0fd9bf30b1612ad0e4beaf"', '"98200"', 'ibiruba', 'RS'),
 ('c1cf59e73b753e3b4b30c81472c9ac01', 'cdc33a601c2dd505b56daac6f43a95b8', '"06857"', 'itapecerica da serra', 'SP'),
 ('f0d5523b9ed51af045208859d0aed744', '"6149a2a35b6e989d78f56345d8f6d75d"', '"74230"', 'goiania', 'GO'),
 ('"5b36c9f4f0c829730b0e2a4e5b26aeea"', '"6ba570eb4471eda421effe4ef8ab144f"', '"30160"', 'belo horizonte', 'MG'),
 ('"57f0329a42dc7c06a16fc1abebc1e84c"', '"801e6d205ff6ea1f0ac9132ccecba63b"', '"05013"', 'sao paulo', 'SP'),
 ('"850cbfa573438ea510bc828c7651b9b5"', 'd95c3d11c4d6efe2173065c13dee6e02', '"04162"', 'sao paulo', 'SP'),
 ('ed9d6640dca24edb75404fbcbc7aa27c', '"97bf6d76a317034b166783328a330b86"', '"20270"', 'rio de janeiro', 'RJ'),
 ('"56005e0bc41d31584c17a913251a676f"', 'e4c924c0ffcda70cb5210f7c9a5cddb0', '"90010"', 'porto alegre', 'RS'),
 ('ee3ec8c107ee2e1e91a1375d5c5f4e0f', '"1a5b875b36e504e3d1d81eb5029638cd"', '"17011"', 'bauru', 'SP'),
 ('"3935a46119fd8d69b602e645cedca908"', '"65b9d20f099408c0ecdf00ccba313342"', '"37704"', 'pocos de caldas', 'MG')]

In [6]:

%%sql
--how many unique customers 
select count(distinct customer_unique_id) as NO_of_customers
from customers_dataset

 * mssql+pyodbc://sa:***@sql
Done.

[(96096,)]

In [7]:
%%sql 
--statewise citywise customers list

select  top 100 customer_state,
customer_city,
count(distinct customer_unique_id) as no_of_customers
from customers_dataset 
where customer_state <>'' and customer_city <> ''
group by customer_state,customer_city
order by customer_state,customer_city

 * mssql+pyodbc://sa:***@sql
Done.

[('AC', 'brasileia', 1),
 ('AC', 'cruzeiro do sul', 3),
 ('AC', 'epitaciolandia', 1),
 ('AC', 'manoel urbano', 1),
 ('AC', 'porto acre', 1),
 ('AC', 'rio branco', 66),
 ('AC', 'senador guiomard', 2),
 ('AC', 'xapuri', 2),
 ('AL', 'agua branca', 1),
 ('AL', 'anadia', 2),
 ('AL', 'arapiraca', 28),
 ('AL', 'atalaia', 1),
 ('AL', 'barra de santo antonio', 2),
 ('AL', 'barra de sao miguel', 2),
 ('AL', 'batalha', 3),
 ('AL', 'belem', 2),
 ('AL', 'boca da mata', 2),
 ('AL', 'cacimbinhas', 1),
 ('AL', 'cajueiro', 1),
 ('AL', 'campo alegre', 1),
 ('AL', 'canapi', 1),
 ('AL', 'coite do noia', 1),
 ('AL', 'colonia leopoldina', 2),
 ('AL', 'coruripe', 3),
 ('AL', 'delmiro gouveia', 4),
 ('AL', 'dois riachos', 1),
 ('AL', 'feliz deserto', 2),
 ('AL', 'girau do ponciano', 1),
 ('AL', 'ibateguara', 2),
 ('AL', 'igaci', 2),
 ('AL', 'igreja nova', 2),
 ('AL', 'inhapi', 2),
 ('AL', 'jequia da praia', 2),
 ('AL', 'junqueiro', 2),
 ('AL', 'lagoa da canoa', 1),
 ('AL', 'luziapolis', 1),
 ('AL', 'maceio', 243),
 ('AL', 'mar vermelho', 1),
 ('AL', 'maragogi', 5),
 ('AL', 'maravilha', 2),
 ('AL', 'marechal deodoro', 1),
 ('AL', 'maribondo', 1),
 ('AL', 'mata grande', 2),
 ('AL', 'matriz de camaragibe', 1),
 ('AL', 'monteiropolis', 1),
 ('AL', 'murici', 1),
 ('AL', 'novo lino', 1),
 ('AL', "olho d'agua das flores", 2),
 ('AL', 'palmeira dos indios', 8),
 ('AL', 'paripueira', 1),
 ('AL', 'passo de camaragibe', 1),
 ('AL', "pau d'arco", 1),
 ('AL', 'paulo jacinto', 2),
 ('AL', 'penedo', 8),
 ('AL', 'piacabucu', 1),
 ('AL', 'pilar', 3),
 ('AL', 'pindoba', 2),
 ('AL', 'porto calvo', 2),
 ('AL', 'porto de pedras', 1),
 ('AL', 'rio largo', 6),
 ('AL', 'santa luzia do norte', 1),
 ('AL', 'santana do ipanema', 1),
 ('AL', 'santana do mundau', 3),
 ('AL', 'sao bras', 1),
 ('AL', 'sao jose da laje', 2),
 ('AL', 'sao jose da tapera', 1),
 ('AL', 'sao luis do quitunde', 2),
 ('AL', 'sao miguel dos campos', 2),
 ('AL', 'sao sebastiao', 1),
 ('AL', 'satuba', 2),
 ('AL', "tanque d'arca", 1),
 ('AL', 'taquarana', 1),
 ('AL', 'teotonio vilela', 8),
 ('AL', 'traipu', 1),
 ('AL', 'uniao dos palmares', 2),
 ('AL', 'vicosa', 1),
 ('AM', 'coari', 1),
 ('AM', 'humaita', 4),
 ('AM', 'itacoatiara', 1),
 ('AM', 'manaus', 135),
 ('AM', 'urucurituba', 2),
 ('AP', 'laranjal do jari', 2),
 ('AP', 'macapa', 53),
 ('AP', 'oiapoque', 1),
 ('AP', 'porto grande', 1),
 ('AP', 'santana', 9),
 ('AP', 'vitoria do jari', 1),
 ('BA', 'abaira', 2),
 ('BA', 'abare', 2),
 ('BA', 'abrantes', 2),
 ('BA', 'acajutiba', 1),
 ('BA', 'adustina', 1),
 ('BA', 'alagoinhas', 39),
 ('BA', 'alcobaca', 4),
 ('BA', 'amargosa', 1),
 ('BA', 'amelia rodrigues', 3),
 ('BA', 'america dourada', 1),
 ('BA', 'anage', 1),
 ('BA', 'andarai', 1),
 ('BA', 'andorinha', 5)]

# Customer dataset + Order dataset:
        This dataset gives information on both the details of the customer and their order details.

In [8]:
%%sql 
--preview
select  top 10 * 
from customers_dataset cd
inner join orders_dataset od
on cd.customer_id=od.customer_id

 * mssql+pyodbc://sa:***@sql
Done.

[('"405901129a10fc58c472bf5555e20d48"', '"5957410ced0fd9bf30b1612ad0e4beaf"', '"98200"', 'ibiruba', 'RS', 'bd6a5598892338bf9e6ad1f5ba2d1f4c', '"405901129a10fc58c472bf5555e20d48"', 'delivered', '2017-03-27 09:49:56', '2017-03-27 10:02:18', '2017-03-28 12:33:14', '2017-04-10 10:05:47', '2017-04-24 00:00:00'),
 ('c1cf59e73b753e3b4b30c81472c9ac01', 'cdc33a601c2dd505b56daac6f43a95b8', '"06857"', 'itapecerica da serra', 'SP', '"93813bdf2d611779ff37fadaee0ae4fc"', 'c1cf59e73b753e3b4b30c81472c9ac01', 'delivered', '2017-11-19 13:25:09', '2017-11-21 04:12:23', '2017-11-21 19:48:42', '2017-11-30 20:28:57', '2017-12-01 00:00:00'),
 ('f0d5523b9ed51af045208859d0aed744', '"6149a2a35b6e989d78f56345d8f6d75d"', '"74230"', 'goiania', 'GO', '"1c0ab2d3364599a25ffdc198391784a7"', 'f0d5523b9ed51af045208859d0aed744', 'delivered', '2017-03-31 09:17:07', '2017-03-31 09:30:16', '2017-03-31 20:21:27', '2017-04-12 15:09:23', '2017-05-04 00:00:00'),
 ('"5b36c9f4f0c829730b0e2a4e5b26aeea"', '"6ba570eb4471eda421effe4ef8ab144f"', '"30160"', 'belo horizonte', 'MG', '"973548765ef313758de16c641c195baf"', '"5b36c9f4f0c829730b0e2a4e5b26aeea"', 'delivered', '2018-05-08 09:15:25', '2018-05-09 03:51:45', '2018-05-10 18:29:00', '2018-05-16 21:03:44', '2018-05-29 00:00:00'),
 ('"57f0329a42dc7c06a16fc1abebc1e84c"', '"801e6d205ff6ea1f0ac9132ccecba63b"', '"05013"', 'sao paulo', 'SP', '"717903b4b996a7ae799b0c76b779fa0c"', '"57f0329a42dc7c06a16fc1abebc1e84c"', 'delivered', '2018-04-09 18:28:14', '2018-04-09 18:50:00', '2018-04-10 19:02:58', '2018-04-11 19:51:33', '2018-04-19 00:00:00'),
 ('"850cbfa573438ea510bc828c7651b9b5"', 'd95c3d11c4d6efe2173065c13dee6e02', '"04162"', 'sao paulo', 'SP', '"0c42ffbb7daabd630cbe785466d587c0"', '"850cbfa573438ea510bc828c7651b9b5"', 'delivered', '2017-07-27 12:29:26', '2017-07-28 08:35:19', '2017-08-09 14:24:41', '2017-08-18 21:19:38', '2017-08-18 00:00:00'),
 ('ed9d6640dca24edb75404fbcbc7aa27c', '"97bf6d76a317034b166783328a330b86"', '"20270"', 'rio de janeiro', 'RJ', 'f65688a2dd980f034760d28080f065a5', 'ed9d6640dca24edb75404fbcbc7aa27c', 'delivered', '2018-05-09 11:43:42', '2018-05-09 12:14:39', '2018-05-24 09:37:00', '2018-06-04 22:32:26', '2018-06-22 00:00:00'),
 ('"56005e0bc41d31584c17a913251a676f"', 'e4c924c0ffcda70cb5210f7c9a5cddb0', '"90010"', 'porto alegre', 'RS', 'c9cf1b341e0a14fb94022101fa6c4604', '"56005e0bc41d31584c17a913251a676f"', 'delivered', '2018-05-14 11:06:13', '2018-05-14 11:15:29', '2018-05-15 15:03:00', '2018-05-18 17:17:28', '2018-06-08 00:00:00'),
 ('ee3ec8c107ee2e1e91a1375d5c5f4e0f', '"1a5b875b36e504e3d1d81eb5029638cd"', '"17011"', 'bauru', 'SP', '"76d6e480de6fc499067e6dedba5492fc"', 'ee3ec8c107ee2e1e91a1375d5c5f4e0f', 'delivered', '2017-11-28 13:52:03', '2017-11-28 14:19:49', '2017-11-29 17:04:51', '2017-12-05 18:55:44', '2017-12-26 00:00:00'),
 ('"3935a46119fd8d69b602e645cedca908"', '"65b9d20f099408c0ecdf00ccba313342"', '"37704"', 'pocos de caldas', 'MG', 'ff3f2d5b004f8051849318f201add7c9', '"3935a46119fd8d69b602e645cedca908"', 'delivered', '2018-04-02 08:53:13', '2018-04-03 07:55:18', '2018-04-04 21:16:33', '2018-05-02 17:46:40', '2018-04-19 00:00:00')]

In [9]:
%%sql
--valuable_customers
select tab3.* 
from (
    select dense_rank() over(order by tab2.purchase_count desc) as rank,
    tab2.*
    from (
        select tab1.customer_unique_id ,
        tab1.customer_state,
        tab1.customer_city,
        count(*) as purchase_count 
        from (
            select cd.customer_state,
            cd.customer_city,
            cd.customer_unique_id,
            od.order_status
            from customers_dataset cd
            inner join orders_dataset od
            on cd.customer_id=od.customer_id) tab1
        where tab1.customer_unique_id <> '' and tab1.order_status <> 'cancelled' and tab1.order_status <> 'unavailable'
        group by tab1.customer_state,tab1.customer_city,tab1.customer_unique_id) tab2 
    ) tab3

 where rank<=3

 * mssql+pyodbc://sa:***@sql
Done.

[(1, '"8d50f5eadf50201ccdcedfb9e2ac8455"', 'SP', 'sao paulo', 16),
 (2, '"3e43e6105506432c953e165fb2acf44c"', 'SP', 'praia grande', 9),
 (3, '"6469f99c1f9dfae7733b25662e7f1782"', 'SP', 'santos', 7),
 (3, '"1b6c7548a2a1f9037c1fd3ddfed95f33"', 'MG', 'ituiutaba', 7),
 (3, 'ca77025e7201e3b30c44b472ff346268', 'PE', 'recife', 7)]

In [10]:
%%sql
--order status wise customer count
select tab1.order_status,
count(distinct tab1.order_id) as order_count 
from (
    select cd.customer_unique_id,
    od.order_status,
    od.order_id
    from customers_dataset cd
    inner join orders_dataset od
    on cd.customer_id=od.customer_id
    where cd.customer_unique_id <>'') tab1
where tab1.order_status <>''
group by tab1.order_status

 * mssql+pyodbc://sa:***@sql
Done.

[('created', 5),
 ('shipped', 1107),
 ('canceled', 625),
 ('approved', 2),
 ('processing', 301),
 ('unavailable', 609),
 ('delivered', 96478),
 ('invoiced', 314)]

# Order dataset
    This table contains the details of the order_id,status and time of purchase.

In [11]:
%%sql
--preview
select top 10 * from orders_dataset

 * mssql+pyodbc://sa:***@sql
Done.

[('a300439b291baea25827908be1277e29', '"343dde2a5e6b279975895db15e6e5483"', 'delivered', '2018-03-07 13:46:50', '2018-03-07 14:09:10', '2018-03-10 00:22:40', '2018-04-11 00:10:48', '2018-03-27 00:00:00'),
 ('"4745c32df5349a726f97d2a85aa32b40"', '"861f6faa36ba09bea7e2c2e336ab2e30"', 'delivered', '2017-12-21 16:46:47', '2017-12-21 17:30:54', '2018-01-08 15:47:21', '2018-01-09 17:13:33', '2018-01-16 00:00:00'),
 ('"7a26da3fd67188dde4c9fecdbfef740b"', '"76cfe789c1b55bf71f7aff5ad2d72cf6"', 'delivered', '2018-04-02 18:14:47', '2018-04-02 18:30:18', '2018-04-04 10:48:44', '2018-04-09 18:36:29', '2018-04-18 00:00:00'),
 ('"008d9bf350ff02ed444b3452cf3f57e0"', '"84f30d2805ae1bddbe5deefc84c80cd0"', 'delivered', '2018-06-04 08:57:02', '2018-06-04 09:11:48', '2018-06-04 12:19:00', '2018-06-13 19:24:52', '2018-07-11 00:00:00'),
 ('"5719565c136a2498b696dba86c086251"', 'b7aefa4277bb9716bdf005f558fbf84d', 'delivered', '2018-06-11 14:50:15', '2018-06-11 15:19:57', '2018-06-12 14:03:00', '2018-06-14 20:42:56', '2018-07-04 00:00:00'),
 ('a25b9ed9a3a53f53489c105482625129', '"22a7b639ea009c1e430eb43244204bda"', 'delivered', '2018-06-21 19:04:30', '2018-06-21 19:21:35', '2018-06-22 14:41:00', '2018-06-25 15:56:52', '2018-07-18 00:00:00'),
 ('"5644acc16afa3e61aae7f559e573ccbe"', 'a62e61fe0911e6f25ece6491d2dabf65', 'delivered', '2017-09-18 20:42:07', '2017-09-19 20:35:17', '2017-09-20 21:23:13', '2017-10-03 21:13:14', '2017-10-13 00:00:00'),
 ('"9196f9de64c5c6b2229e9ffe2572d328"', 'b834ebad1af8421ec606cd94cd8ecd84', 'delivered', '2018-04-16 14:27:38', '2018-04-18 06:32:20', '2018-04-18 21:58:29', '2018-04-23 20:38:29', '2018-05-09 00:00:00'),
 ('cd16e890b276ec7a7e2e93ba379339e1', '"001028b78fd413e19704b3867c369d3a"', 'delivered', '2018-04-12 12:51:28', '2018-04-13 12:50:28', '2018-04-13 22:05:03', '2018-04-16 19:16:36', '2018-04-30 00:00:00'),
 ('"0f845aa8f4dfa5eab70f31813b6f5ffb"', '"1942836c2cf756f6ce519e15b8623d27"', 'delivered', '2018-05-21 22:59:51', '2018-05-23 02:38:27', '2018-05-29 07:16:00', '2018-06-07 15:59:24', '2018-06-20 00:00:00')]

In [12]:
%%sql 
--average time taken for delivery

select concat(cast(avg(tab1.day_difference) as varchar(10)),' Days') as day_average 
from(
    select  
    datediff(day,cast(substring(order_approved_at,1,10) as date),cast(substring(order_delivered_customer_date,1,10) as date)) as day_difference
    from orders_dataset
    where order_approved_at <> '' and order_delivered_customer_date <> '') tab1

 * mssql+pyodbc://sa:***@sql
Done.

[('11 Days',)]

In [13]:
%%sql
--daywise purchase count

select top 10
tab1.day,
count(*) as purchase_count
from(
    select 
    substring(order_purchase_timestamp,1,10) as day
    from orders_dataset) tab1
group by tab1.day
order by purchase_count desc

 * mssql+pyodbc://sa:***@sql
Done.

[('2017-11-24', 1176),
 ('2017-11-25', 499),
 ('2017-11-27', 403),
 ('2017-11-26', 391),
 ('2017-11-28', 380),
 ('2018-08-06', 372),
 ('2018-05-07', 372),
 ('2018-08-07', 370),
 ('2018-05-14', 364),
 ('2018-05-16', 357)]

# order_items_dataset
    This table gives information on product_id, seller_id, price and Freight value

In [14]:
%%sql
--preview
select top 10 * 
from order_items_dataset

 * mssql+pyodbc://sa:***@sql
Done.

[('"00010242fe8c5a6d1ba2dd792cb16214"', '1', '"4244733e06e7ecb4970a6e2683c13e61"', '"48436dade18ac8b2bce089ec2a041202"', '2017-09-19 09:45:35', '58.90', '13.29'),
 ('"00018f77f2f0320c557190d7a144bdd3"', '1', 'e5f2d52b802189ee658865ca93d83a8f', 'dd7ddc04e1b6c2c614352b383efe2d36', '2017-05-03 11:05:13', '239.90', '19.93'),
 ('"000229ec398224ef6ca0657da4fc703e"', '1', 'c777355d18b72b67abbeef9df44fd0fd', '"5b51032eddd242adc84c38acab88f23d"', '2018-01-18 14:48:30', '199.00', '17.87'),
 ('"00024acbcdf0a6daa1e931b038114c75"', '1', '"7634da152a4610f1595efa32f14722fc"', '"9d7a1d34a5052409006425275ba1c2b4"', '2018-08-15 10:10:18', '12.99', '12.79'),
 ('"00042b26cf59d7ce69dfabb4e55b4fd9"', '1', 'ac6c3623068f30de03045865e4e10089', 'df560393f3a51e74553ab94004ba5c87', '2017-02-13 13:57:51', '199.90', '18.14'),
 ('"00048cc3ae777c65dbb7d2a0634bc1ea"', '1', 'ef92defde845ab8450f9d70c526ef70f', '"6426d21aca402a131fc0a5d0960a3c90"', '2017-05-23 03:55:27', '21.90', '12.69'),
 ('"00054e8431b9d7675808bcb819fb4a32"', '1', '"8d4f2bb7e93e6710a28f34fa83ee7d28"', '"7040e82f899a04d1b434b795a43b4617"', '2017-12-14 12:10:31', '19.90', '11.85'),
 ('"000576fe39319847cbb9d288c5617fa6"', '1', '"557d850972a7d6f792fd18ae1400d9b6"', '"5996cddab893a4652a15592fb58ab8db"', '2018-07-10 12:30:45', '810.00', '70.75'),
 ('"0005a1a1728c9d785b8e2b08b904576c"', '1', '"310ae3c140ff94b03219ad0adc3c778f"', 'a416b6a846a11724393025641d4edd5e', '2018-03-26 18:31:29', '145.95', '11.65'),
 ('"0005f50442cb953dcd1d21e1fb923495"', '1', '"4535b0e1091c278dfd193e5a1d63b39f"', 'ba143b05f0110f0dc71ad71b4466ce92', '2018-07-06 14:10:56', '53.99', '11.40')]

In [15]:
%%sql 
--product quantity in a order
select order_id,
count(*) as product_quantity
from  order_items_dataset
group by order_id
having count(*) > 10
order by product_quantity desc

 * mssql+pyodbc://sa:***@sql
Done.

[('"8272b63d03f5f79c56e9e4120aec44ef"', 21),
 ('"1b15974a0141d54e36626dca3fdc731a"', 20),
 ('ab14fdcfbe524636d65ee38360e22ce8', 20),
 ('"428a2f660dc84138d969ccd69a0ab6d5"', 15),
 ('"9ef13efd6949e4573a18964dd1bbe7f5"', 15),
 ('"73c8ab38f07dc94389065f7eba4f297a"', 14),
 ('"9bdc4d4c71aa1de4606060929dee888c"', 14),
 ('"37ee401157a3a0b28c9c6d0ed8c3b24b"', 13),
 ('"2c2a19b5703863c908512d135aa6accc"', 12),
 ('"637617b3ffe9e2f7a2411243829226d0"', 12),
 ('"3a213fcdfe7d98be74ea0dc05a8b31ae"', 12),
 ('c05d6a79e55da72ca780ce90364abed9', 12),
 ('af822dacd6f5cff7376413c03a388bb7', 12),
 ('"5a3b1c29a49756e75f1ef513383c0c12"', 11),
 ('"6c355e2913545fa6f72c40cbca57729e"', 11),
 ('"71dab1155600756af6de79de92e712e3"', 11),
 ('"7f2c22c54cbae55091a09a9653fd2b8a"', 11)]

In [16]:
%%sql
--top sellers
select top 10 seller_id,
count(distinct product_id) as product_count
from order_items_dataset
where seller_id <>''
group by seller_id
order by product_count desc

 * mssql+pyodbc://sa:***@sql
Done.

[('"4a3ca9315b744ce9f8e9374361493884"', 399),
 ('cca3071e3e9bb7d12640c9fbe2301306', 322),
 ('d91fb3b7d041e83b64a00a3edfb37e4f', 315),
 ('fa1c13f2614d7b5c4749cbc52fecda94', 289),
 ('"7142540dd4c91e2237acb7e911c4eba2"', 266),
 ('"6560211a19b47992c3666cc44a7e94c0"', 256),
 ('da8622b14eb17ae2831f4ac5b9dab84a', 222),
 ('ea8482cd71df3c1969d7b9473ff13abc', 220),
 ('"3d871de0142ce09b7081e2b9d1733cb1"', 202),
 ('"7c67e1448b00f6e969d365cea6b010ab"', 198)]

# order_items_dataset + product_dataset
    This dataset gives details of the purchased Products.

In [17]:
%%sql 
--preview
select top 10 *
from order_items_dataset oid
inner join products_dataset pd
on oid.product_id=pd.product_id

 * mssql+pyodbc://sa:***@sql
Done.

[('"00010242fe8c5a6d1ba2dd792cb16214"', '1', '"4244733e06e7ecb4970a6e2683c13e61"', '"48436dade18ac8b2bce089ec2a041202"', '2017-09-19 09:45:35', '58.90', '13.29', '"4244733e06e7ecb4970a6e2683c13e61"', 'cool_stuff', '58', '598', '4', '650', '28', '9', '14'),
 ('"00018f77f2f0320c557190d7a144bdd3"', '1', 'e5f2d52b802189ee658865ca93d83a8f', 'dd7ddc04e1b6c2c614352b383efe2d36', '2017-05-03 11:05:13', '239.90', '19.93', 'e5f2d52b802189ee658865ca93d83a8f', 'pet_shop', '56', '239', '2', '30000', '50', '30', '40'),
 ('"000229ec398224ef6ca0657da4fc703e"', '1', 'c777355d18b72b67abbeef9df44fd0fd', '"5b51032eddd242adc84c38acab88f23d"', '2018-01-18 14:48:30', '199.00', '17.87', 'c777355d18b72b67abbeef9df44fd0fd', 'moveis_decoracao', '59', '695', '2', '3050', '33', '13', '33'),
 ('"00024acbcdf0a6daa1e931b038114c75"', '1', '"7634da152a4610f1595efa32f14722fc"', '"9d7a1d34a5052409006425275ba1c2b4"', '2018-08-15 10:10:18', '12.99', '12.79', '"7634da152a4610f1595efa32f14722fc"', 'perfumaria', '42', '480', '1', '200', '16', '10', '15'),
 ('"00042b26cf59d7ce69dfabb4e55b4fd9"', '1', 'ac6c3623068f30de03045865e4e10089', 'df560393f3a51e74553ab94004ba5c87', '2017-02-13 13:57:51', '199.90', '18.14', 'ac6c3623068f30de03045865e4e10089', 'ferramentas_jardim', '59', '409', '1', '3750', '35', '40', '30'),
 ('"00048cc3ae777c65dbb7d2a0634bc1ea"', '1', 'ef92defde845ab8450f9d70c526ef70f', '"6426d21aca402a131fc0a5d0960a3c90"', '2017-05-23 03:55:27', '21.90', '12.69', 'ef92defde845ab8450f9d70c526ef70f', 'utilidades_domesticas', '36', '558', '1', '450', '24', '8', '15'),
 ('"00054e8431b9d7675808bcb819fb4a32"', '1', '"8d4f2bb7e93e6710a28f34fa83ee7d28"', '"7040e82f899a04d1b434b795a43b4617"', '2017-12-14 12:10:31', '19.90', '11.85', '"8d4f2bb7e93e6710a28f34fa83ee7d28"', 'telefonia', '52', '815', '1', '200', '27', '5', '20'),
 ('"000576fe39319847cbb9d288c5617fa6"', '1', '"557d850972a7d6f792fd18ae1400d9b6"', '"5996cddab893a4652a15592fb58ab8db"', '2018-07-10 12:30:45', '810.00', '70.75', '"557d850972a7d6f792fd18ae1400d9b6"', 'ferramentas_jardim', '39', '1310', '3', '13805', '35', '75', '45'),
 ('"0005a1a1728c9d785b8e2b08b904576c"', '1', '"310ae3c140ff94b03219ad0adc3c778f"', 'a416b6a846a11724393025641d4edd5e', '2018-03-26 18:31:29', '145.95', '11.65', '"310ae3c140ff94b03219ad0adc3c778f"', 'beleza_saude', '59', '493', '1', '2000', '30', '12', '16'),
 ('"0005f50442cb953dcd1d21e1fb923495"', '1', '"4535b0e1091c278dfd193e5a1d63b39f"', 'ba143b05f0110f0dc71ad71b4466ce92', '2018-07-06 14:10:56', '53.99', '11.40', '"4535b0e1091c278dfd193e5a1d63b39f"', 'livros_tecnicos', '52', '1192', '1', '850', '29', '3', '21')]

In [18]:
%%sql 
--preview

select top 10 tab2.seller_id,
trans.product_category_name_english as product_category_name,
tab2.product_count
from (
    select seller_id,
    product_category_name,
    count(distinct product_id) as product_count
    from(
        select
        oid.seller_id,
        pd.product_category_name,
        oid.product_id
        from order_items_dataset oid
        inner join products_dataset pd
        on oid.product_id=pd.product_id) tab1
    where seller_id <> '' and product_category_name <>''
    group by seller_id,product_category_name) tab2
inner join product_category_name_translation trans
on tab2.product_category_name=trans.product_category_name
order by tab2.product_count desc

 * mssql+pyodbc://sa:***@sql
Done.

[('d91fb3b7d041e83b64a00a3edfb37e4f', 'home_appliances', 292),
 ('fa1c13f2614d7b5c4749cbc52fecda94', 'watches_gifts', 284),
 ('"4a3ca9315b744ce9f8e9374361493884"', 'bed_bath_table', 280),
 ('ea8482cd71df3c1969d7b9473ff13abc', 'telephony', 217),
 ('cca3071e3e9bb7d12640c9fbe2301306', 'furniture_decor', 209),
 ('da8622b14eb17ae2831f4ac5b9dab84a', 'bed_bath_table', 209),
 ('"6560211a19b47992c3666cc44a7e94c0"', 'watches_gifts', 201),
 ('"7142540dd4c91e2237acb7e911c4eba2"', 'auto', 187),
 ('"7e93a43ef30c4f03f38b393420bc753a"', 'watches_gifts', 176),
 ('"77530e9772f57a62c906e1c21538ab82"', 'furniture_decor', 166)]

# payments dataset
    This table gives information on payment type.

In [19]:
%%sql 
select top 10 *
from order_payments_dataset

 * mssql+pyodbc://sa:***@sql
Done.

[('b81ef226f3fe1789b1e8b2acac839d17', '1', 'credit_card', '8', '99.33'),
 ('a9810da82917af2d9aefd1278f1dcfa0', '1', 'credit_card', '1', '24.39'),
 ('"25e8ea4e93396b6fa0d3dd708e76c1bd"', '1', 'credit_card', '1', '65.71'),
 ('ba78997921bbcdc1373bb41e913ab953', '1', 'credit_card', '8', '107.78'),
 ('"42fdf880ba16b47b59251dd489d4441a"', '1', 'credit_card', '2', '128.45'),
 ('"298fcdf1f73eb413e4d26d01b25bc1cd"', '1', 'credit_card', '2', '96.12'),
 ('"771ee386b001f06208a7419e4fc1bbd7"', '1', 'credit_card', '1', '81.16'),
 ('"3d7239c394a212faae122962df514ac7"', '1', 'credit_card', '3', '51.84'),
 ('"1f78449c87a54faf9e96e88ba1491fa9"', '1', 'credit_card', '6', '341.09'),
 ('"0573b5e23cbd798006520e1d5b4c6714"', '1', 'boleto', '1', '51.95')]

In [20]:
%%sql
select top 10
payment_type,
count(*) as count
from order_payments_dataset
where payment_type <> ''
group by payment_type
order by count desc

 * mssql+pyodbc://sa:***@sql
Done.

[('credit_card', 76795),
 ('boleto', 19784),
 ('voucher', 5775),
 ('debit_card', 1529),
 ('not_defined', 3)]

# Joining more tables:

In [21]:
%%sql 
--preview
select top 10 *
from (
    select tab1.customer_id,
    tab1.product_id,
    cd.customer_state,
    cd.customer_city
    from(
        select od.customer_id,
        oid.product_id
        from order_items_dataset oid
        inner join orders_dataset od
        on oid.order_id=od.order_id) tab1
    inner join customers_dataset cd
    on tab1.customer_id=cd.customer_id) tab2
inner join products_dataset pd
on tab2.product_id=pd.product_id

 * mssql+pyodbc://sa:***@sql
Done.

[('"405901129a10fc58c472bf5555e20d48"', '"99a4788cb24856965c36a24e339b6058"', 'RS', 'ibiruba', '"99a4788cb24856965c36a24e339b6058"', 'cama_mesa_banho', '54', '245', '1', '1383', '50', '10', '40'),
 ('c1cf59e73b753e3b4b30c81472c9ac01', '"03aad9707028422f38b0563410912177"', 'SP', 'itapecerica da serra', '"03aad9707028422f38b0563410912177"', 'cama_mesa_banho', '49', '591', '1', '1500', '38', '11', '30'),
 ('f0d5523b9ed51af045208859d0aed744', 'cd82271424be9568801391194697361c', 'GO', 'goiania', 'cd82271424be9568801391194697361c', 'cama_mesa_banho', '56', '999', '1', '400', '19', '13', '15'),
 ('"5b36c9f4f0c829730b0e2a4e5b26aeea"', '"6f3b5b605d91b7439c5e3f5a8dffeea7"', 'MG', 'belo horizonte', '"6f3b5b605d91b7439c5e3f5a8dffeea7"', 'relogios_presentes', '35', '640', '1', '335', '17', '11', '16'),
 ('"57f0329a42dc7c06a16fc1abebc1e84c"', '"4b703444923b5e57bb73ba343f5ebab7"', 'SP', 'sao paulo', '"4b703444923b5e57bb73ba343f5ebab7"', 'cama_mesa_banho', '49', '204', '1', '264', '17', '14', '16'),
 ('"850cbfa573438ea510bc828c7651b9b5"', '"78a727ba961fe7561d533e153bf04088"', 'SP', 'sao paulo', '"78a727ba961fe7561d533e153bf04088"', 'instrumentos_musicais', '43', '1516', '7', '9270', '103', '31', '26'),
 ('ed9d6640dca24edb75404fbcbc7aa27c', '"6c1df9c08e8cb7237269358cf39e9c3e"', 'RJ', 'rio de janeiro', '"6c1df9c08e8cb7237269358cf39e9c3e"', 'automotivo', '47', '1365', '1', '13699', '46', '53', '29'),
 ('"56005e0bc41d31584c17a913251a676f"', 'fb5dcf669bb92534be46c2fef1131651', 'RS', 'porto alegre', 'fb5dcf669bb92534be46c2fef1131651', 'telefonia_fixa', '60', '802', '9', '2250', '23', '6', '23'),
 ('ee3ec8c107ee2e1e91a1375d5c5f4e0f', 'e9def91e99c8ecb7c5cef5e31506a056', 'SP', 'bauru', 'e9def91e99c8ecb7c5cef5e31506a056', 'brinquedos', '34', '867', '2', '500', '19', '11', '20'),
 ('"3935a46119fd8d69b602e645cedca908"', '"69bfbc73c85e0c111060d84260d5fd64"', 'MG', 'pocos de caldas', '"69bfbc73c85e0c111060d84260d5fd64"', 'cool_stuff', '34', '654', '1', '10300', '80', '40', '36')]

In [22]:
%%sql
--statewise citywise product category count

select top 100
tab4.customer_state,
tab4.customer_city,
tab4.product_category_name,
count(*) as purchase_count
from(
    select tab3.customer_state,
    tab3.customer_city,
    trans.product_category_name_english as product_category_name
    from(
        select tab2.customer_state,
        tab2.customer_city,
        pd.product_category_name
        from (
            select tab1.customer_id,
            tab1.product_id,
            cd.customer_state,
            cd.customer_city
            from(
                select od.customer_id,
                oid.product_id
                from order_items_dataset oid
                inner join orders_dataset od
                on oid.order_id=od.order_id) tab1
            inner join customers_dataset cd
            on tab1.customer_id=cd.customer_id) tab2
        inner join products_dataset pd
        on tab2.product_id=pd.product_id) tab3 
    inner join product_category_name_translation trans
    on tab3.product_category_name=trans.product_category_name) tab4
where tab4.customer_state <> '' and tab4.customer_city <> '' and tab4.product_category_name <> ''
group by tab4.customer_state,tab4.customer_city,tab4.product_category_name
--order by purchase_count desc

 * mssql+pyodbc://sa:***@sql
Done.

[('AC', 'brasileia', 'computers_accessories', 3),
 ('AC', 'cruzeiro do sul', 'christmas_supplies', 1),
 ('AC', 'cruzeiro do sul', 'housewares', 1),
 ('AC', 'cruzeiro do sul', 'telephony', 1),
 ('AC', 'epitaciolandia', 'sports_leisure', 1),
 ('AC', 'manoel urbano', 'sports_leisure', 1),
 ('AC', 'porto acre', 'fashion_shoes', 1),
 ('AC', 'rio branco', 'auto', 4),
 ('AC', 'rio branco', 'baby', 2),
 ('AC', 'rio branco', 'bed_bath_table', 4),
 ('AC', 'rio branco', 'books_general_interest', 2),
 ('AC', 'rio branco', 'computers', 1),
 ('AC', 'rio branco', 'computers_accessories', 6),
 ('AC', 'rio branco', 'consoles_games', 1),
 ('AC', 'rio branco', 'cool_stuff', 1),
 ('AC', 'rio branco', 'electronics', 4),
 ('AC', 'rio branco', 'fashion_bags_accessories', 1),
 ('AC', 'rio branco', 'fashion_shoes', 1),
 ('AC', 'rio branco', 'furniture_decor', 12),
 ('AC', 'rio branco', 'furniture_living_room', 1),
 ('AC', 'rio branco', 'garden_tools', 2),
 ('AC', 'rio branco', 'health_beauty', 7),
 ('AC', 'rio branco', 'housewares', 1),
 ('AC', 'rio branco', 'luggage_accessories', 2),
 ('AC', 'rio branco', 'market_place', 1),
 ('AC', 'rio branco', 'musical_instruments', 1),
 ('AC', 'rio branco', 'perfumery', 3),
 ('AC', 'rio branco', 'sports_leisure', 6),
 ('AC', 'rio branco', 'stationery', 2),
 ('AC', 'rio branco', 'telephony', 4),
 ('AC', 'rio branco', 'toys', 3),
 ('AC', 'rio branco', 'watches_gifts', 4),
 ('AC', 'senador guiomard', 'housewares', 2),
 ('AC', 'senador guiomard', 'small_appliances', 1),
 ('AC', 'xapuri', 'baby', 1),
 ('AC', 'xapuri', 'sports_leisure', 1),
 ('AL', 'agua branca', 'computers_accessories', 2),
 ('AL', 'anadia', 'health_beauty', 1),
 ('AL', 'anadia', 'telephony', 1),
 ('AL', 'arapiraca', 'auto', 4),
 ('AL', 'arapiraca', 'bed_bath_table', 1),
 ('AL', 'arapiraca', 'computers_accessories', 7),
 ('AL', 'arapiraca', 'fixed_telephony', 2),
 ('AL', 'arapiraca', 'furniture_decor', 5),
 ('AL', 'arapiraca', 'health_beauty', 4),
 ('AL', 'arapiraca', 'home_construction', 1),
 ('AL', 'arapiraca', 'market_place', 1),
 ('AL', 'arapiraca', 'perfumery', 1),
 ('AL', 'arapiraca', 'pet_shop', 1),
 ('AL', 'arapiraca', 'telephony', 2),
 ('AL', 'arapiraca', 'toys', 2),
 ('AL', 'arapiraca', 'watches_gifts', 2),
 ('AL', 'atalaia', 'auto', 1),
 ('AL', 'barra de santo antonio', 'health_beauty', 1),
 ('AL', 'barra de santo antonio', 'telephony', 1),
 ('AL', 'barra de sao miguel', 'bed_bath_table', 1),
 ('AL', 'barra de sao miguel', 'health_beauty', 1),
 ('AL', 'batalha', 'health_beauty', 1),
 ('AL', 'batalha', 'perfumery', 1),
 ('AL', 'batalha', 'stationery', 1),
 ('AL', 'belem', 'consoles_games', 1),
 ('AL', 'belem', 'health_beauty', 2),
 ('AL', 'boca da mata', 'auto', 1),
 ('AL', 'boca da mata', 'baby', 1),
 ('AL', 'cacimbinhas', 'computers_accessories', 1),
 ('AL', 'cajueiro', 'furniture_decor', 1),
 ('AL', 'campo alegre', 'computers_accessories', 1),
 ('AL', 'campo alegre', 'cool_stuff', 1),
 ('AL', 'canapi', 'furniture_decor', 1),
 ('AL', 'coite do noia', 'stationery', 1),
 ('AL', 'colonia leopoldina', 'auto', 1),
 ('AL', 'colonia leopoldina', 'telephony', 2),
 ('AL', 'coruripe', 'furniture_decor', 1),
 ('AL', 'coruripe', 'health_beauty', 1),
 ('AL', 'coruripe', 'telephony', 1),
 ('AL', 'delmiro gouveia', 'bed_bath_table', 2),
 ('AL', 'delmiro gouveia', 'sports_leisure', 3),
 ('AL', 'delmiro gouveia', 'telephony', 1),
 ('AL', 'dois riachos', 'health_beauty', 1),
 ('AL', 'feliz deserto', 'baby', 1),
 ('AL', 'feliz deserto', 'computers_accessories', 1),
 ('AL', 'girau do ponciano', 'consoles_games', 1),
 ('AL', 'ibateguara', 'auto', 1),
 ('AL', 'ibateguara', 'garden_tools', 1),
 ('AL', 'igaci', 'audio', 1),
 ('AL', 'igaci', 'home_confort', 1),
 ('AL', 'igreja nova', 'electronics', 1),
 ('AL', 'igreja nova', 'industry_commerce_and_business', 1),
 ('AL', 'inhapi', 'auto', 1),
 ('AL', 'inhapi', 'health_beauty', 1),
 ('AL', 'jequia da praia', 'sports_leisure', 1),
 ('AL', 'jequia da praia', 'watches_gifts', 1),
 ('AL', 'junqueiro', 'health_beauty', 2),
 ('AL', 'lagoa da canoa', 'bed_bath_table', 1),
 ('AL', 'luziapolis', 'watches_gifts', 1),
 ('AL', 'maceio', 'agro_industry_and_commerce', 1),
 ('AL', 'maceio', 'air_conditioning', 1),
 ('AL', 'maceio', 'audio', 4),
 ('AL', 'maceio', 'auto', 13),
 ('AL', 'maceio', 'baby', 3)]

# Pivoting the above column(Product Category Name)

In [23]:
%%sql
--pivoting the data

select tab5.customer_state,
sum(case when tab5.pc='bed_bath_table' then tab5.purchase_count else NULL end) as bed_bath_table,
sum(case when tab5.pc='health_beauty' then tab5.purchase_count else NULL end) as health_beauty,
sum(case when tab5.pc='sports_leisure' then tab5.purchase_count else NULL end) as sports_leisure,
sum(case when tab5.pc='housewares' then tab5.purchase_count else NULL end ) as housewares,
sum(case when tab5.pc='furniture_decor' then tab5.purchase_count else NULL end) as furniture_decor

from(
    select 
    tab4.customer_state,
    tab4.customer_city,
    tab4.pc,
    count(*) as purchase_count
    from(
        select tab3.customer_state,
        tab3.customer_city,
        trans.product_category_name_english as pc
        from(
            select tab2.customer_state,
            tab2.customer_city,
            pd.product_category_name
            from (
                select tab1.customer_id,
                tab1.product_id,
                cd.customer_state,
                cd.customer_city
                from(
                    select od.customer_id,
                    oid.product_id
                    from order_items_dataset oid
                    inner join orders_dataset od
                    on oid.order_id=od.order_id) tab1
                inner join customers_dataset cd
                on tab1.customer_id=cd.customer_id) tab2
            inner join products_dataset pd
            on tab2.product_id=pd.product_id) tab3 
        inner join product_category_name_translation trans
        on tab3.product_category_name=trans.product_category_name) tab4
    where tab4.customer_state <> '' and tab4.customer_city <> '' and tab4.pc <> ''
    group by tab4.customer_state,tab4.customer_city,tab4.pc) tab5
group by customer_state
order by 1

 * mssql+pyodbc://sa:***@sql
Done.

[('AC', 4, 7, 9, 4, 12),
 ('AL', 20, 63, 33, 10, 34),
 ('AM', 8, 20, 12, 4, 4),
 ('AP', 6, 10, 7, 4, 3),
 ('BA', 263, 350, 293, 161, 252),
 ('CE', 83, 167, 93, 59, 87),
 ('DF', 209, 246, 224, 155, 152),
 ('ES', 225, 165, 174, 114, 145),
 ('GO', 235, 229, 167, 132, 128),
 ('MA', 36, 89, 66, 24, 48),
 ('MG', 1331, 1086, 966, 835, 949),
 ('MS', 64, 65, 75, 39, 65),
 ('MT', 70, 90, 76, 52, 75),
 ('PA', 38, 107, 85, 38, 71),
 ('PB', 32, 78, 36, 23, 42),
 ('PE', 93, 240, 149, 60, 98),
 ('PI', 34, 54, 34, 19, 22),
 ('PR', 468, 425, 486, 337, 520),
 ('RJ', 1644, 1064, 1041, 877, 1090),
 ('RN', 30, 58, 22, 25, 29),
 ('RO', 15, 25, 20, 5, 13),
 ('RR', 3, 7, 8, None, 6),
 ('RS', 614, 436, 475, 434, 561),
 ('SC', 330, 309, 363, 264, 354),
 ('SE', 15, 40, 35, 10, 25),
 ('SP', 5235, 4204, 3667, 3265, 3531),
 ('TO', 10, 36, 25, 14, 18)]